@tailwind base;
@tailwind components;
@tailwind utilities;

/* MAX Breakpoint: 460px */

h1{font-size: 47.78px;}

h2{font-size: 39.18px;}

h3{font-size: 33.18px;}

h4{font-size: 27.65px;}

h5{font-size: 23.04px;}

h6{font-size: 19.2px;}

body{
    font-size: 16px;
    margin: 0 24px
}

.caption{font-size: 13.33px;}


/* Media query utilizada no footer para uniformizar as caixas de texto, assim como os
logótipos de métodos de pagamento que são utilizados no componente "PaymentLogos", 
incorporados no footer. -------- João Paixão */
@media screen and (max-width: 399px){
    .footer--text { 
      padding-left: 0;
      padding-right: 0;
      border-right: 0;
      width: 200px;
      height: 40px;
      text-align: center;
      margin-bottom: 10px;
    }

    .footer--logos-payment { 
      margin-right: 20px;
    }

}

